<!--The content below is only a placeholder and can be replaced.-->
<header class="site-header  sticky-top py-0">
  <nav class="navbar navbar-expand-lg navbar-light bg-white rounded" aria-label="Eleventh navbar example">
    <div class="container-fluid"><img src="assets/logo/M_letter_logo.png" height="50px" >
      <a class="navbar-brand  " href="#"><h3>MMA <span class="text-muted">CARGO GROUP</span></h3></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09"
        aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample09">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Overveiw</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Our Vision</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1">Rates</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-bs-toggle="dropdown"
              aria-expanded="false">Support</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown09">
              <li><a class="dropdown-item text-dark" href="#">Contact Us</a></li>
              <li><a class="dropdown-item text-dark" href="#">Tracking Cargo</a></li>
              <li><a class="dropdown-item text-dark" href="#">Booking Tranportation</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<app-footer></app-footer>

